.col{
    background-color: tomato;
    height: 100px;
    border: 2px solid black;
    margin: 5px;
}
body{
background: url('https://images.unsplash.com/photo-1591777877953-786783dd25e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}
.button{
    padding-top: 20px;
}