.col{
    background-color:goldenrod;
    height: 100px;
    border: 2px solid black;
    margin: 5px;
}
body{
background: url('https://images.unsplash.com/photo-1591777877953-786783dd25e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}
.button{
    padding-top: 20px;
}

/* ["red","blue","darkgreen","cyan","darkslateblue","indigo","saddlebrown","aliceblue"] */
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.darkgreen{
    background-color: darkgreen;
}
.cyan{
    background-color: cyan;
}
.darkslateblue{
    background-color: darkslateblue;
}
.indigo{
    background-color: indigo;
}
.saddlebrown{
    background-color: saddlebrown;
}
.aliceblue{
    background-color: aliceblue;
}
.oculto{
    background-color: goldenrod;
}
.eliminado{
    visibility: hidden;
}